<h3>Thanks for registering!</h3>

<p>Hey <%= @user_name %>!</p>

<p>Thanks for registering for the Turing Feedback app!</p>

<p>Feedback is an important practice here at Turing, and this platform aims to simplify the process of giving and receiving feedback for a group. By registering, you will receive notifications when staff or other group members add you to a survey. When you receive a notification, simply return to the site and log in using the credentials you just provided, and you'll be able to participate.</p>

<p>Please let us know if there's any questions or assistance we can provide. We look forward to your feedback.</p>

<p>Kind regards,</p>

<p>The Turing Feedback App Team</p>
