<h3>Hello <%= @user_name %>!</h3>

<p>A new survey, <%= @survey_name %>, is available for you to fill out.</p>

<p>Please visit FeedbackLoop (linked below) and sign in to fill out the survey.</p>
<p>If you encounter any issues, please reach out to @PeterIsOkay on slack for assistance.</p>

<p>Thank you.</p>

<p>The Turing FeedbackLoop Team</p>

<a href="https://turing-feedback-loop.herokuapp.com/">FeedbackLoop Site</a>
